
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="site Wandarena">
    <meta name="author" content="Luis Alves">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ base_url() }}/css/bootstrap.min.css" >
    <link rel="stylesheet" href="{{ base_url() }}/css/style.css">
    <script src="{{ base_url() }}/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Wandarena | {% block title %}{% endblock %}</title>



</head>
<body class=" backgroundBody">
    <header>
        <nav class="navbar navbar-expand-lg bg-yellow navbar-light ">
            <a class="navbar-brand font-weight-bold text-dark" href="#">Wandarena<b class="font-weight-normal text-secondary">Telemídia</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Arenas {% block Arenas %}{% endblock %}</a>
                    </li>
                    {% if admin == false %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Praticar {% block Pratice %}{% endblock %}</a>
                        </li>
                    {% endif %}
                    {% if admin == true %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cadastrar Usuário {% block registerUser %}{% endblock %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Controle Arenas {% block ControlArenas %}{% endblock %}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

    </header>
   <section class=" container">
       {% block container%} {% endblock %}

   </section>
    <footer class="mt-auto bg-dark text-light fixed-bottom border-top border-white">
        <div class="float-right hidden-xs border-right version">
            <b>Version</b> 0.1.2
        </div>
        <strong>Copyright &copy; 2017-2018 <a href="mailto:alvesgamadossantos@gmail.com">Luis Alves</a> e <a href="#">Telemídia</a></strong>.
        All rights
        reserved.
    </footer>


</body>

</html>