{% extends "View/Layout.twig" %}
{% block title %} Praticar {% endblock %}
{% block titlePage %}Praticar{% endblock %}
{% block practice %} active {% endblock %}
{% block content %}
<div class="offset-5 col-2">
    <form class="justify-content-center" action="{{ path_for('wanda.home.teste') }}" method="POST"
          enctype="multipart/form-data">
        Player 1: <input type="file" name="code1"><br>
        Player 2: <input type="file" name="code2"><br>
        <input type="submit" class="btn btn-info float-right" value="Enviar">
    </form>

</div>

{% endblock %}