{% extends "View/Layout.twig" %}
{% block title %} Praticar {% endblock %}
{% block titlePage %}Praticar{% endblock %}
{% block practice %} active {% endblock %}
{% block content %}

    <form class="offset-sm-2 col-sm-8 ">

        <div class="form-group ">

            <input type="file" class="custom-file custom-file-label " data-icon="false" accept=".lua">

        </div>

    </form>
{% endblock %}