{% extends "View/Layout.twig" %}
{% block title %} Praticar {% endblock %}
{% block titlePage %}Praticar{% endblock %}
{% block practice %} active {% endblock %}
{% block content %}

    <form action="{{ path_for('wanda.home.teste') }}" method="POST"
          enctype="multipart/form-data">
        Arquivo: <input type="file" name="code"><br>
        <input type="submit" value="Enviar">
    </form>

{% endblock %}